<div id="<%= dom_id customer_information %>">
  <p>
    <strong>Role:</strong>
    <%= customer_information.role %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= customer_information.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= customer_information.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= customer_information.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer_information.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer_information.address %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= customer_information.contact %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= customer_information.verified %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= customer_information.deleted %>
  </p>

</div>
