<%= form_with(model: customer_information) do |form| %>
<% if customer_information.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(customer_information.errors.count, "error") %> prohibited this customer_information from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% customer_information.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :role, class: label_class %>
          <%= form.text_field :role, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :username, class: label_class %>
          <%= form.text_field :username, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :password, class: label_class %>
          <%= form.text_field :password, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :email, class: label_class %>
          <%= form.text_field :email, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :address, class: label_class %>
          <%= form.text_field :address, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :contact, class: label_class %>
          <%= form.number_field :contact, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :verified, class: label_class %>
          <%= form.number_field :verified, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :deleted, class: label_class %>
          <%= form.number_field :deleted, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if customer_information.persisted? %>
<%= link_to "Cancel", customer_information, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", customer_informations_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
