<%= form_with(model: ticket_detail) do |form| %>
<% if ticket_detail.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(ticket_detail.errors.count, "error") %> prohibited this ticket_detail from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% ticket_detail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :ticket_id, class: label_class %>
          <%= form.number_field :ticket_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :cus_id, class: label_class %>
          <%= form.number_field :cus_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :description, class: label_class %>
          <%= form.number_field :description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date, class: label_class %>
          <%= form.datetime_field :date, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if ticket_detail.persisted? %>
<%= link_to "Cancel", ticket_detail, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", ticket_details_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
