<div id="<%= dom_id ticket_detail %>">
  <p>
    <strong>Ticket:</strong>
    <%= ticket_detail.ticket_id %>
  </p>

  <p>
    <strong>Cus:</strong>
    <%= ticket_detail.cus_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket_detail.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= ticket_detail.date %>
  </p>

</div>
