<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Ticket_detail</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to ticket_details_path, class: button_class(theme: "transparent") do %>
      All Ticket_details
      <% end %>
      <%= link_to edit_ticket_detail_path(@ticket_detail), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Ticket:</p>
        <p><%= @ticket_detail.ticket_id %></p>
      </li>
      <li>
        <p class="font-semibold">Cus:</p>
        <p><%= @ticket_detail.cus_id %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @ticket_detail.description %></p>
      </li>
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @ticket_detail.date %></p>
      </li>
  </ul>
</div>
