<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Order_detail</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to order_details_path, class: button_class(theme: "transparent") do %>
      All Order_details
      <% end %>
      <%= link_to edit_order_detail_path(@order_detail), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Order:</p>
        <p><%= @order_detail.order_id %></p>
      </li>
      <li>
        <p class="font-semibold">Item:</p>
        <p><%= @order_detail.item_id %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @order_detail.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @order_detail.price %></p>
      </li>
  </ul>
</div>
