<div id="<%= dom_id coupon %>">
  <p>
    <strong>Subject:</strong>
    <%= coupon.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= coupon.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= coupon.status %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= coupon.type %>
  </p>

</div>
