<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Coupon</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to coupons_path, class: button_class(theme: "transparent") do %>
      All Coupons
      <% end %>
      <%= link_to edit_coupon_path(@coupon), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Subject:</p>
        <p><%= @coupon.subject %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @coupon.description %></p>
      </li>
      <li>
        <p class="font-semibold">Status:</p>
        <p><%= @coupon.status %></p>
      </li>
      <li>
        <p class="font-semibold">Type:</p>
        <p><%= @coupon.type %></p>
      </li>
  </ul>
</div>
