<%= form_with(model: e_wallet) do |form| %>
<% if e_wallet.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(e_wallet.errors.count, "error") %> prohibited this e_wallet from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% e_wallet.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :customer, class: label_class %>
          <%= form.text_field :customer, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :customer_name, class: label_class %>
          <%= form.text_field :customer_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :balance, class: label_class %>
          <%= form.number_field :balance, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if e_wallet.persisted? %>
<%= link_to "Cancel", e_wallet, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", e_wallets_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
