<%= form_with(model: ticket) do |form| %>
<% if ticket.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% ticket.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :poster_id, class: label_class %>
          <%= form.number_field :poster_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :subject, class: label_class %>
          <%= form.text_field :subject, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :description, class: label_class %>
          <%= form.text_field :description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :status, class: label_class %>
          <%= form.text_field :status, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :type, class: label_class %>
          <%= form.text_field :type, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date, class: label_class %>
          <%= form.datetime_field :date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :deleted, class: label_class %>
          <%= form.number_field :deleted, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if ticket.persisted? %>
<%= link_to "Cancel", ticket, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", tickets_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
