<div id="<%= dom_id ticket %>">
  <p>
    <strong>Poster:</strong>
    <%= ticket.poster_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= ticket.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= ticket.type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= ticket.date %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= ticket.deleted %>
  </p>

</div>
