<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Ticket</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to tickets_path, class: button_class(theme: "transparent") do %>
      All Tickets
      <% end %>
      <%= link_to edit_ticket_path(@ticket), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Poster:</p>
        <p><%= @ticket.poster_id %></p>
      </li>
      <li>
        <p class="font-semibold">Subject:</p>
        <p><%= @ticket.subject %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @ticket.description %></p>
      </li>
      <li>
        <p class="font-semibold">Status:</p>
        <p><%= @ticket.status %></p>
      </li>
      <li>
        <p class="font-semibold">Type:</p>
        <p><%= @ticket.type %></p>
      </li>
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @ticket.date %></p>
      </li>
      <li>
        <p class="font-semibold">Deleted:</p>
        <p><%= @ticket.deleted %></p>
      </li>
  </ul>
</div>
