<%= form_with(model: wallet) do |form| %>
<% if wallet.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% wallet.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :customer_id, class: label_class %>
          <%= form.number_field :customer_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if wallet.persisted? %>
<%= link_to "Cancel", wallet, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", wallets_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
